*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
      }
      body{
        background:rgba(0, 0, 0, 0.89);
      }
      .header{
        position:fixed;
        top: 0;
        left:0;
        width:100%;
        padding:2rem 9%;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
      }
      .menu-icon{
        display: none;
      }

      .menu-toggle{
        display: none;
      }
      
      .logo{
        font-size: 2.5rem;
        color: red;
        font-weight: 700;
        cursor: default;
      }
      
      .navbar a{
        font-size: 1.5rem;
        color: red;
        margin-left: 4rem;
        font-weight: 700;
        
      }
      
      .navbar a:hover,
      .navbar a.active{
        color: white;
      }

      .home-content video{
        width: 100%;
        padding: 20px;
        margin-top: 50px;
      }

      .portfolio{
        background: peru;
      }
      
      
      .portfolio-container img{
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 9.5px;
      }
      
      .portfolio-container{
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--bg-color);
        overflow: auto;
        white-space: nowrap;
        display: flex;
        gap: 12px;
      }
      
      .portfolio-layer img{
        width: 100%;
        opacity: 0.7;
      }
      
      .btn {
        display: inline-block;
        padding: 1rem 2.8rem;
        border-radius: 4rem;
        box-shadow: 0 0 1rem ;
        font-size: 1.6rem;
        color: black;
        letter-spacing: .7rem;
        font-weight: 600;
        transition: .5s ease;
      }

      @media (max-width: 600px) {
        .navbar {
          display: none;
          flex-direction: column;
          gap: 0;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
        }

      .menu-icon {
        display: flex;
        font-size: 25px;
        color: red;
        cursor: pointer;

    }

    .navbar a{
      flex-direction: column;
      margin: 0;
      text-align: center;
       
    }
    .navbar a:hover,
      .navbar a.active{
        color: white;
        display: block;
        padding: 1rem;
        color: white;
      }

    .menu-toggle:checked + .menu-icon + .navbar {
      display: flex;
  }
    }
      
    
      